a {
    text-decoration: none;
}
nav,ul {
    list-style: none;
}
body {
    background: #F1F1F1;
}
html {
    font-family: "Muller",sans-serif;
}
.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}
/*Header*/
.header-first-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header-first-line-tel {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
}
.header-first-line-link {
    background: url("img/Vector\ \(7\).png") no-repeat center left;
    padding-left: 25px;
    color: #CC9933;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
   
}

.header-second-line-list {
    margin-top: 30px;
    background: #FFFFFF;
    max-width: 1170px;
    min-height: 70px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.header-second-line-list-item {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #666666;
}




/*Section-special-Offer*/
.section-head {
    margin-top: 70px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    margin-left: 40px;
}
.section-boxes-general {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
.section-boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section-box-maldives {
    background: url("img/Rectangle\ 14.png") no-repeat;
    width: 573px;
    max-width: 100%;
    min-height: 258px;
    color: white;
}
.section-boxes-head {
    padding-left: 40px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
}
.section-boxes-price {
    padding-left: 40px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}
.section-box-crit {
    background: url("img/Rectangle\ 16.png") no-repeat;
   
    width: 100%;
    min-height: 258px;
    color: white;
}

.section-general {
    background: url("img/33\ 1.png") no-repeat;
    width: 573px;
    max-width: 100%;
    min-height: 540px;
    color: white;
}
.section-general-head {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    padding-left: 40px;
    padding-top: 150px;
}
.section-general-price {
    padding-left: 40px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}
.section-boxes-link {
    background: url("img/Rectangle\ 2.png") no-repeat center right;
    padding-right: 15px;
    color: #FFCC66;
    margin-left: 40px;
}

/*Section-about-us*/
.section-text {
    width: 888px;
    max-width: 100%;
    font-size: 16px;
    line-height: 200%;
    font-weight: 400;
}

/*Section-services*/
.section-services-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 23px;
}

.section-box {
    width: 573px;
    max-width: 100%;
    min-height: 330px;
    border-radius: 15px;
    background: #FFFFFF;
}
.section-box-text {
    width: 402px;
    max-width: 100%;
    margin-left: 30px;
}
.section-box-img {
    max-width: 100%;
}
.section-box-text-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
    background: url("img/Rectangle\ 2.png") no-repeat right center;
    display: inline-block;
    padding-right: 15px;
}
.section-box-promo {
    margin: 0%;
    font-size: 16px;
    line-height: 200%;
}
/*section-advantages*/

.section-advantages-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 23px;
}
.section-content-box {
    width: 275px;
    min-height: 275px;
    background: #FFFFFF;
    border-radius: 15px;
}
.section-content-box-inside {
    width: 188px;
    margin-left: 40px;
    margin-top: 40px;
}
.section-content-box-text {
    font-size: 16px;
    line-height: 200%;
    font-weight: 400;
}
/*section-apartment*/

.section-apartment-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
}
.section-apartment-content-box {
    width: 374px;
    min-height: 440px;
    background: #FFFFFF;
    border-radius: 15px;
}
.section-apartment-content-box-inside {
    margin-left: 45px;
    margin-top: 36px;
}
.star {
    padding-left: 55px;
}
.section-apartment-content-box-last {
    width: 374px;
    min-height: 440px;
    background: url("img/41\ \(1\).png") no-repeat;
}
.section-apartment-content-box-last-box {
    margin-top: 373px;
}
.section-apartment-content-box-last-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
    margin-left: 50px;
    margin-top: 373px;
    background: url("img/Rectangle\ 3.png") no-repeat right center;
    padding-right: 15px;
}
.hotel {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
}
.city {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #999999;
}
.number {
    border: 1px solid #CC9933;
    padding: 13px 20px;
    color: #CC9933;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    background: transparent;
}

/*section-contacts*/

.section-contacts-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 1170px;
    max-width: 100%;
    min-height: 618px;
    background: #FFFFFF;
    border-radius: 15px;
}
.section-contacts-content-table {
    width: 396px;
    min-height: 528px;
}
.section-contacts-content-table-list-item {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #C4C4C4;
    min-height: 96px;
}
.row {
    padding-top: 25px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
}
.adress {
    padding-top: 25px;
}
.tel-number {
    padding-top: 25px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: #CC9933;
}
.e-mail {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
}
.booking {
    color: #C4C4C4;    
}
.cooperation {
    color: #C4C4C4;
}
.mail {
   color: #CC9933;
}
.schedule {
    padding-top: 25px;
}
.button3 {
    margin-top: 25px;
    border: 1px solid #CC9933;
    color: #CC9933;
    border-radius: 10px;
    padding: 15px 30px;
    background: transparent;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
}
/*Footer*/
.footer-content {
    width: 1170px;
    max-width: 100%;
    height: 341px;
    margin-top: 30px;
    background: url("img/4.png") no-repeat right 20% bottom;
    background-color: #333333;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    
}
.footer-block-text {
    width: 320px;
    min-height: 242px;
    color: white;
    margin-left: 54px;
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    line-height: 50px;
    
}
.block-text1 {
    font-size: 16px;
    line-height: 190%;
}
.block-text2 {
    font-size: 16px;
    line-height: 190%;
}
.block-link {
    color: #CC9933;
}
.footer-block-adress{
    margin-left: 102px;
    margin-top: 44px;
    display: flex;
    flex-direction: column;
}

.block-adress {
    color: white;
}
.block-tel {
    color: #CC9933;
    line-height: 16px;
}
.block-mail {
    color: #CC9933;
}
.footer-block-networks {
    margin-left: 240px;
}
.block-list {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    line-height: 50px;
}


@media (max-width: 600px) {
    
    .section-box-maldives {
        width: 100%;
    }
    
    
    .header-first-line {
        flex-direction: row;
    }
    .header-second-line-list {
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
    }
    .section6-content-list {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    .section7-content-img {
        display: none;
    }
    .footer-block2 {
        display: none;
    }
    .footer-block3 {
        display: none;
    }
   
}
@media screen and (max-width: 375px) {




}











@font-face {
    font-family: "Muller";
    src: url("fonts/MullerBold.woff2") format('woff2'),
      url("fonts/MullerBold.woff") format('woff');
      font-weight: 700;
  }
  
  @font-face {
    font-family: "Muller";
    src: url("fonts/MullerLight.woff2") format('woff2'),
      url("fonts/MullerLight.woff") format('woff');
      font-weight: 300;
  }
  
  @font-face {
    font-family: "Muller";
    src: url("fonts/MullerMedium.woff2") format('woff2'),
      url("fonts/MullerMedium.woff") format('woff');
      font-weight: 500;
  }
  
  @font-face {
    font-family: "Muller";
    src: url("fonts/MullerRegular.woff2") format("woff2"),
    url("fonts/MullerRegular.woff") format("woff");
    font-weight: 400;
   }

  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Muller', sans-serif;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  